.App {
    --header_height: 60px;
}

.hw {
    display: flex;
    flex-direction: column;

}

.hwTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}